<div id="form_label" class="form-group">
    <label class="control-label"></label>
</div>
<div class="form-group">
    <input class="form-control" type="text" name="name" value="<%=login.get('name')%>" size="16" maxlength="32" />
    <label class="control-label"></label>
</div>
<div class="form-group">
    <input class="form-control" type="password" name="pass" value="" size="32" maxlength="128" />
    <label class="control-label"></label>
</div>
<div class="form-group">
    <button type="submit" name="login" class="btn btn-primary">Login</button>
</div>